*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: black;
}

body{
    background-color: black;
    transition: all 0.5s;
    
}

section {
    height: 100vh;
    border: 1px solid white;
}

.head{
    background-color: black;
}

.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: var(--color2);
}

.color3{
    background-color: var(--color3);
}

.color4{
    background-color:  var(--color4);
}

.color5{
    background-color: var(--color5);
}



.midnightInner, .midnightHeader{z-index: 999;}
.midnightHeader.black{
    #logo{
        background-image: url(../images/moon1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}
.midnightHeader.phase1{
    #logo{
        background-image: url(../images/moon2.svg);
        color: white
    }
}
.midnightHeader.phase2{
    #logo{
        background-image: url(../images/moon3.svg);
        color: white
    }
}
.midnightHeader.phase3{
    #logo{
        background-image: url(../images/moon4.svg);
        color: white
    }
}    

.midnightHeader.phase4{
    #logo{
        background-image: url(../images/moon5.svg);
        color: white
    }
}    

.midnightHeader.phase5{
    #logo{
        background-image: url(../images/moon6.svg);
        color: white
    }
}
