.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    #arrowDown{
        color : white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        font-size: 4em;
        animation: .5s linear 1s infinite alternate bounce;
        transition: 1s;
        opacity: 1;

    }

    #arrowDown.hide{
        opacity: 0;
    }

    @keyframes bounce{
        from {bottom: 0px;}
        to   {bottom: 15px;}
    }

    #mainMoth{
        background-image: url("../images/mainMoth.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 200px;
        position: relative;
        transform: translateY(50%);
        animation: .5s linear 1s infinite alternate coucou;
    }

    @keyframes coucou{
        from {bottom: 0px;}
        to   {bottom: 5px;}
    }
}

