.section6{
    position: relative;
    #montain{
    position: absolute;
    bottom:-8%;
    width: 100%;
    }
    #fond{
        position: absolute;
        bottom: -10px;
        opacity: .7;
        width: 100%;
        }

        #mont{
            position: absolute;
            bottom: 0;
            opacity: .3;
            width: 100%;
        }

}

