.section2{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .mainWindow{
        margin:auto;
        bottom: 20px;
        height: 70%;
        width: 80%;
        border-radius: 5%;
        perspective: 1000px;
    }
    
    .mainWindowInner{
        box-shadow: 0px 10px 35px -1px rgba(0,0,0,0.52);
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: 5%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

.mainWindow:hover .mainWindowInner{
    transform: rotateY(180deg);
}

.mainWindowFront, .mainWindowBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5%;
}

.mainWindowFront{
    border: 0.2px solid white;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .photo{
        width: 130px;
        height: 130px;
        border-radius: 20px;
        background-image: url('../images/myAvatar.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 50%;
        text-align: center;
        text-justify: auto;
        p{
            font-size: large;
        }

    }
        .push{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .material-icons.push1{
            left: 10px;
            position: relative;
            animation: .5s linear 1s infinite alternate fromLeft;
            transition: 1s;
        }
        .material-icons.push2{
            position: relative;
            animation: .5s linear 1s infinite alternate fromRight;
            transition: 1s;
            transform: rotate(180deg);
            right:10px;
        }
        .material-icons.push1, .push2{
            font-size: 2em;
        }
    }
    }
}
    

.mainWindowBack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--color1) ;
    color: white;
    transform: rotateY(180deg);
    .pitch{
        margin: auto;
        height: 90%;
        width: 90%;
        border: solid 1px white;
        text-align: center;
    }
}


@keyframes fromLeft{
    from {left: 0;}
    to   {left: 1.5%;}
}

@keyframes fromRight{
    from {right: 0;}
    to   {right: 1.5%;}
}